 # 01_envar.config
option_settings:
aws:elasticbeanstalk:application:environment:
PORT: 8080
NODE_ENV: production
SECRET_KEY: "799651B27B2E5D99D17C9CF6754B5"
MONGO_URL: "mongodb://luis:master01@ds123454.mlab.com:23454/test1"
CLOUDINARY_NAME: luisabaunza
CLOUDINARY_API_KEY: 756122754929729
CLOUDINARY_SECRET_KEY: PjxqgjfeYI2kk58n2gSwwepySHk
